/* igClone.css */

.button {
  height: 30px;
  width: 70px;
  margin: 20px;
  border-radius: 10px;
  font-size: 13px;
  font-family: "Verdana";
  cursor: pointer;
}

.followButton {
  height: 25px;
  width: 70px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Verdana";
  cursor: pointer;
}

#fileInput {
  margin-top: 20px;
}

#loginIDInput {
  margin-top: 20px;
}

.image {
  display: block;
  margin: 20px;
}

#comment {
  margin-top: 20px;
}

#postButton {
  margin-top: 10px;
}

.passwordBox {
  margin-top: 10px;
}

#addSomethingButton {
  height: 30px;
  width: 130px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 13px;
  font-family: "Verdana";
  cursor: pointer;
}
